/* .forgottenpassword {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  .forgottenpassword form div {
    margin-bottom: 15px;
  }
  
  .forgottenpassword label {
    font-size: x-large;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 5px;
    display: flex;
    justify-content: start;
    padding-bottom: .5rem;
    
  }
  
  .forgottenpassword input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
    height: 3rem;
  }
  
  .forgottenpassword button {
    padding: 10px 20px;
    width: 100%;
    height: 3rem;
    background-color: rgb(90, 187, 219);
    border: none;
    cursor: pointer;
  }
  
  .forgottenpassword p {
    margin-top: 10px;
  }
   */


   /* .customcard {
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custombtn {
    background-color: #007bff;
    border: none;
    font-size: 1.25rem;
    font-weight: bold;
    transition: background-color 0.3s, transform 0.3s;
  }
  
  .custombtn:hover {
    background-color: #0056b3;
    transform: scale(1.05);
  }
   */